In [8]:
import numpy as np
import pandas as pd
#Column transformer class from sklearn

In [5]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder
#using simple imputer to fill missing values
#using OHE for nominal categorical data containing columns
#using Ordinal encoder for ordinal categorical data containing column

In [6]:
df = pd.read_csv('covid_toy.csv')

In [9]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [10]:
df['cough'].value_counts()

cough
Mild      62
Strong    38
Name: count, dtype: int64

In [11]:
df['city'].value_counts()

city
Kolkata      32
Bangalore    30
Delhi        22
Mumbai       16
Name: count, dtype: int64

In [12]:
# Age, fever are numerical - Simpleimputer
# Gender, city are nominal categorical- OHE
# cough is ordinal

In [13]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [22]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(df.drop(columns=['has_covid']),
                                                 df['has_covid'],test_size=0.2)

In [23]:
X_train

    age  gender  fever   cough       city
23   80  Female   98.0    Mild      Delhi
10   75  Female    NaN    Mild      Delhi
33   26  Female   98.0    Mild    Kolkata
64   42    Male  104.0    Mild     Mumbai
6    14    Male  101.0  Strong  Bangalore
..  ...     ...    ...     ...        ...
86   25    Male  104.0    Mild  Bangalore
24   13  Female  100.0  Strong    Kolkata
75    5    Male  102.0    Mild    Kolkata
46   19  Female  101.0    Mild     Mumbai
1    27    Male  100.0    Mild      Delhi

[80 rows x 5 columns]

# 1. Aam Zindagi

In [31]:
#adding simple imputer to fever column
si = SimpleImputer()
X_train_fever = si.fit_transform(X_train[['fever']])

#also the test data
X_test_fever = si.fit_transform(X_test[['fever']])
X_train_fever.shape

(80, 1)

In [39]:
# Ordinal encoding for 'cough' column
oe = OrdinalEncoder(categories=[['Mild','Strong']])
X_train_cough = oe.fit_transform(X_train[['cough']])

#Also the test data
X_test_cough = oe.fit_transform(X_test[['cough']])

X_train_cough.shape

(80, 1)

In [42]:
# OHE to gender, city
ohe = OneHotEncoder(drop='first',sparse_output=False)
X_train_gender_city = ohe.fit_transform(X_train[['gender','city']])

# Also the test data
X_test_gender_city = ohe.fit_transform(X_test[['gender','city']])

X_train_gender_city.shape

(80, 4)

In [43]:
# Extracting Age
X_train_age = X_train.drop(columns=['gender','fever','cough','city']).values

#also the test data
X_test_age = X_test.drop(columns=['gender','fever','cough','city']).values

X_train_age.shape

(80, 1)

In [53]:
X_train_transform = np.concatenate((X_train_age,X_train_fever,X_train_gender_city,X_train_cough),axis=1)
X_test_transform = np.concatenate((X_test_age,X_test_fever,X_test_gender_city,X_test_cough),axis=1)                                   
X_train_transform.shape

(80, 7)

# Mentos Zindagi

In [54]:
from sklearn.compose import ColumnTransformer

In [61]:
transformer = ColumnTransformer(transformers=[
    ('tnf1', SimpleImputer(),['fever']),
    ('tnf2', OrdinalEncoder(categories=[['Mild','Strong']]),['cough']),
    ('tnf3', OneHotEncoder(sparse_output=False,drop='first'),['gender','city'])
],remainder='passthrough')

In [63]:
transformer.fit_transform(X_train).shape

(80, 7)

In [64]:
transformer.transform(X_test).shape

(20, 7)